body {margin: 0;}
.ctx {margin: 0 auto;}
.grid {width: 570px; margin: 0 auto;margin-top: 100px;}
.grid div {
	height: 95px;
	width: 95px;
	background-image: url("https://i2.wp.com/codebits.eu/logos/defaultavatar.jpg");
	display: inline-block;
}

.grid div:hover {
	-ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
}


/* GRID */ 

[class*='col-'] {
  float: left;
}

.col-1-6 {
  width: 16.66%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}